// COLORS DEFAULT
$white-100: #ffffff;
$white-200: #f8f8f8;
$gray-300: #a8a8b3;
$gray-500: #737380;
$gray-900: #29292e;
$purple-500: #835afd;
$pink-500: #e559f9;
$red-500: #ea4335;

// COLORS DARK MODE


// FONTS
$roboto-400: 400 16px 'Roboto',
sans-serif;
$roboto-500: 500 16px 'Roboto',
sans-serif;
$poppins: 'Poppins',
sans-serif;
$poppins-400: 400 16px 'Poppins',
sans-serif;
$poppins-700: 700 36px 'Poppins',
sans-serif;